.content{
    width:100%;
    margin-block-start: 5vw;
    background: white;
}
.box{
    width: 93.5%;
    position: relative;
    padding: 1vw 3.5vw 2.5vw;
    background: white;
}

.banner{
    width: 100%;
    height: 100%;
    margin-left: 0;
}
.banner img{
    display: block;
    width: 100%;
    position: relative;
    margin-top: -4px;
}
.search{
    width: 50%;
    margin-left: 25%;
    height: 3vw;
    margin-bottom: 2%;
    margin-top: -20%;
    position: absolute;
}
.search .search-title{
    background: #f6f6f6;
    float: left;
    width: 15%;
    height: 3vw;
    position: relative;
    border: 1px solid #f3f4f5;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    text-align: center;
}
.search-title-content{
    font-size: 1vw;
    height: 3vw;
    line-height: 3vw;
    color: #515a6e;
}
.search .search-ipt{
    position: relative;
    height: 3vw;
    width: 65%;
    float: left;
    border: 1px solid #f3f4f5;
}
.search .search-btn{
    position: relative;
    height: 3.1vw;
    width: 13%;
    display: block;
    float: left;
    background: brown;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: brown;
    text-align: center;
}
.search-btn svg{
    width: 2vw;
    height: 3vw;
}

.right{
    position: relative;
    display: block;
    width: 20%;
    float: right;
}
.hot{
    position: relative;
    display: block;
    width: 100%;
    height: 15vw;
    text-align: center;
}
.hot h3{
    position: relative;
    padding: 5%;
    font-size: 1.3vw;
}
.hot .list{
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.list button{
    border: 1px solid lightgrey;
    border-radius: 8px;
    width: 40%;
    height: 3vw;
    margin: 0.5vw;
    font-size: small;
    background-color: white;
}
.hot .list button.now{
    background-color: brown;
    color: white;
}
.list a{
    text-decoration: none;
}
button:hover{background-color: #f3f4f5}

.view{
    float: left;
    width: 80%;
}
.filter{
    height: 4vw;
    width: 80%;
    margin-left: 0;
    margin-bottom: 1vw;
    text-align: left;
    font-size: 1vw;
}
.filter select{
    width: 20%;
    height: 2vw;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin: 1vw 0.2vw 0.2vw;
}
.filter button{
    width: 10%;
    margin: 5px;
    height: 30px;
    border: 1px solid brown;
    border-radius: 4px;
    background: brown;
    color: white;
}
.result{
    width: 100%;
}
.card{
    float: left;
    width: 17%;
    height: 13vw;
    margin-right: 3%;
    margin-bottom: 3%;
    cursor: pointer;
    overflow:hidden;
}
.card img{
    width: 200%;
    height: 150%;
    position:relative;
    left:-50%;
    display:block;
}
.page{
    font-size: 1vw;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding-bottom: 1vw;
}
@media (max-aspect-ratio: 6/5){
    .search{
        width: 60%;
        margin-left: 20%;
        height: 5vw;
    }
    .search .search-title{
        height: 4vw;
        line-height: 4vw;
    }
    .search-title-content{
    }
    .search .search-ipt{
        height: 4vw;
    }
    .search .search-btn{
        height: 4.6vw;
    }
    .search-btn svg{
        height: 4.6vw;
        width: 3vw;
    }
    .right{
        width: 100%;
    }
    .hot{
        height: 10vw;
    }
    .hot h3{
        padding: 1vw;
    }
    .hot .list{
        width: 100%;
        margin: 0;
    }
    .list button{
        width: 20%;
        height: 4vw;
    }
    .view{
        width: 100%;
        margin-bottom: 1vw;
    }
    .filter{
        width: 100%;
        height: 8vw;
        margin-top: 2vw;
    }
    .filter select{
        height: 5vw;
        width: 25%;
    }
    .filter button{
        width: 15%;
        height: 5vw;
        font-size: 1vw;
    }
    .card{
        height: 15vw;
    }
}